[submodule "site-lisp/evil"]
	path = site-lisp/evil-sm
	url = git://gitorious.org/evil/evil.git
[submodule "auto-complete"]
        path = site-lisp/auto-complete
        url = http://github.com/m2ym/auto-complete
[submodule "coffee-mode.git"]
  path = site-lisp/coffee-mode
  url = git://github.com/defunkt/coffee-mode.git
[submodule "color-theme-tango-2.git"]
  path = site-lisp/color-theme-tango-2
  url = git://github.com/wfarr/color-theme-tango-2.git
[submodule "emacs-rails-reloaded.git"]
  path = site-lisp/emacs-rails-reloaded
  url = git://github.com/dima-exe/emacs-rails-reloaded.git
[submodule "eproject.git"]
  path = site-lisp/eproject
  url = git://github.com/jrockway/eproject.git
[submodule "evil.git"]
  path = site-lisp/evil
  url = git://gitorious.org/evil/evil.git
[submodule "evil-surround.git"]
  path = site-lisp/evil-surround
  url = git://github.com/timcharper/evil-surround.git
[submodule "haml-mode.git"]
  path = site-lisp/haml-mode
  url = git://github.com/nex3/haml-mode.git
[submodule "hideshow-org.git"]
  path = site-lisp/hideshow-org
  url = git://github.com/secelis/hideshow-org.git
[submodule "mainline.git"]
  path = site-lisp/magit
  url = git://gitorious.org/magit/mainline.git
[submodule "markdown-mode.git"]
  path = site-lisp/markdown-mode
  url = git://jblevins.org/git/markdown-mode.git
[submodule "mode-compile"]
  path = site-lisp/mode-compile
  url = git://github.com/emacsmirror/mode-compile.git
[submodule "org-mode.git"]
  path = site-lisp/org-mode
  url = https://github.com/emacsmirror/org.git
[submodule "remember-el.git"]
  path = site-lisp/remember
  url = git://repo.or.cz/remember-el.git
[submodule "rinari.git"]
  path = site-lisp/rinari
  url = git://github.com/eschulte/rinari.git
[submodule "ruby-rspec.git"]
  path = site-lisp/ruby-rspec
  url = git://github.com/pezra/rspec-mode.git
[submodule "rsense"]
  path = site-lisp/ruby/rsense
  url = git://github.com/m2ym/rsense.git
[submodule "rvm.el.git"]
  path = site-lisp/rvm
  url = https://github.com/senny/rvm.el.git
[submodule "sass-mode.git"]
  path = site-lisp/sass-mode
  url = git://github.com/nex3/sass-mode.git
[submodule "smex.git"]
  path = site-lisp/smex
  url = git://github.com/nonsequitur/smex.git
[submodule "textmate.el.git"]
  path = site-lisp/textmate
  url = git://github.com/defunkt/textmate.el.git
[submodule "vimpulse.git"]
  path = site-lisp/vimpulse
  url = git://git.assembla.com/vimpulse.git
[submodule "site-lisp/twittering-mode"]
	path = site-lisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
